body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.game{
    display: grid;
    grid-template-columns: repeat(4,120px);
    row-gap: 40px;
    column-gap: 40px;
    align-items: center;
    justify-content: center;
}

#gameboard div{
    height: 120px;
    width: 100px;
    margin-top: 10px;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: black;
    color: antiquewhite;
}

.cardback{
    background-image: linear-gradient( 109.6deg,  rgba(247,253,166,1) 11.2%, rgba(128,255,221,1) 57.8%, rgba(255,128,249,1) 85.9% );

}

#gameboard div:hover{
    cursor: pointer;
}

.won{
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    margin: 0px auto;
    color: blue;
}